<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Twitter bot form</h1>
    <form name="form1" method="POST" action="/tweetreply">
    <table>
        <tr>
            <td>Text to Search</td>
            <td><input type="text" name="searchParam" ></td>
            </tr>
        <tr>
        <td>Text to tweet</td>
        <td><input type="text" name="textToTweet" ></td>
        </tr>
        <tr>
        <td>number of tweets to tweet</td>
        <td><input type="text" name="numberOFTweets" ></td>
        </tr>
        
        <tr>
        <td colspan="2"><input type="submit" value="reply" ></td>
        </tr>
    </table>
    </form>   
   
</body>
</html>

    
